<template name="map">



<div id="map" style="width: 100%; height: 800px"></div> 

<script>



// create a map in the "map" div, set the view to a given place and zoom
var map = L.map('map', {
    center:[ 14.72472, -17.47333],
    zoom: 7
});

var antennes = new L.LayerGroup();

// Villes pour le voyage
var THIES=[14.79056, -16.92472];
var LOUGA=[15.616667, -16.216667];
var LINGUERE=[15.4, -15.11667];
var TOUBA = [14.86667, -15.86667];
var DIOURBEL=[14.655,-16.2314];
var KAOLAK=[14.16667,-16.08333];
var TABACOUNDA=[13.768889,-13.667222]; 
var pointList = [THIES,LOUGA,LINGUERE,TOUBA,DIOURBEL,KAOLAK,TABACOUNDA]; 

//Zones agraires
zoneAgraires = [
    [14.50, -16.92472],
    [16.47, -16.416667],
    [14.4, -13.11667],
    [13.768889,-13.667222]

];

 var mbAttr = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' 
'Imagery © <a href="http://mapbox.com">Mapbox</a>',
mbUrl = 'https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png';
    var grayscale   = L.tileLayer(mbUrl, {id: 'examples.map-20v6611k', attribution: mbAttr}),
	    streets  = L.tileLayer(mbUrl, {id: 'examples.map-i875mjb7',   attribution: mbAttr});

// add an OpenStreetMap tile layer
L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

var siteArray;
$.get('viz/site_arr_lonlat.json', function(data){
    siteArray = data;

    siteArray.forEach(function(elt){
        L.marker([elt['lat'], elt['lon']]).addTo(antennes);
        //L.marker([elt['lat'], elt['lon']]).addTo(map);
    });

});


var overlays = {"antennes": antennes};
var baseLayers = {
			"Grayscale": grayscale,
			"Streets": streets
		};

var firstpolyline = new L.Polyline(pointList, {
color: 'red',
weight: 5,
opacity: 1,
smoothFactor: 1

});

firstpolyline.addTo(map);
L.polygon(zoneAgraires).addTo(map);
L.control.layers(baseLayers, overlays).addTo(map);

</script>

</template>
